<div class="container containerESN">


  <div class="row no-gutters marginESN">
    <div class="col">


      <div class="row mt-3">
        <div class="col-md-2">
          <img alt="ESN-Star" class="headerPic" src="assets/ESNstar_digital_full_colour.png">
        </div>
        <div class="col-md-10">
          <div class="header">
            Quarantine Sports Challenge
          </div>
          <div class="headerSmall">
            by ESN Buddynetwork TU Wien
          </div>
        </div>
      </div>


      <div class="row mt-5 mb-3">
        <div class="col-md-12">

          <h3>Can We Beat Corona?</h3>
          <p>Join the ESN Quarantine Sports Challenge! With this challenge, we want to motivate you to
            stay
            fit at home and take care of your health even during these unusual times, where sports
            venues are closed and group activities forbidden.
          </p>
          <p class="bold">Together we try to beat the current number of Covid-19 cases
            in Austria with every exercise.</p>
        </div>
      </div>


      <div class="row my-3">

        <div class="col-xs-12 col-sm-12 col-md-12">

          <div class="row">
            <div class="col-md-12">
              <h3>Total Numbers</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
              <div class="box">
                <div class="boxHeader" style="white-space: nowrap;">Push-Ups</div>
                <div class="boxNumber" style="color:#ec008c;">{{totalPushUps}}</div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
              <div class="box">
                <div class="boxHeader">Situps</div>
                <div class="boxNumber" style="color:#7ac143;">{{totalSitups}}</div>
              </div>
            </div>

            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
              <div class="box">
                <div class="boxHeader">Squats</div>
                <div class="boxNumber" style="color:#00aeef;">{{totalSquats}}</div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
              <div class="box">
                <div class="boxHeader">Planking</div>
                <div class="boxNumber" style="color:#f47b20;">{{totalPlanking}}</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-12 col-md-2 col-lg-3"></div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-6">

              <div *ngIf="virusTrackerData" class="boxb">
                <div class="boxHeaderBottom">Current Covid-19 Cases in Austria</div>
                <div class="boxNumberBottom" style="color:#2e3192;">
                  {{virusTrackerData.countrydata[0].total_cases}}</div>
              </div>

            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-3"></div>
          </div>

        </div>
      </div>


      <div class="row my-5 text-center">
        <div class="col">
          <a (click)="open(content)" class="btn btn-primary btn-lg" href="#" role="button">Submit new Workout</a>
        </div>
      </div>


      <div class="row my-5">
        <div class="col-md-12">
          <h3>Top Universities</h3>


          <div *ngIf="dataList$" class="tableUniversitiesOut" style="overflow-x: auto;">
            <table class="tableUniversities">
              <thead>
                <tr>
                  <th class="tableHeader" style="text-align:right;">#</th>
                  <th (sort)="onSort($event)" class="tableHeader" style="border-left: 20px solid #FFFFFF;">University
                  </th>
                  <th (sort)="onSort($event)" class="tableHeader" sortable="pushups"
                    style="color:#ec008c;text-align:right;white-space: nowrap;">Push-Ups
                  </th>
                  <th (sort)="onSort($event)" class="tableHeader" sortable="situps"
                    style="color:#7ac143;text-align:right;">Situps
                  </th>
                  <th (sort)="onSort($event)" class="tableHeader" sortable="squats"
                    style="color:#00aeef;text-align:right;">Squats
                  </th>
                  <th (sort)="onSort($event)" class="tableHeader" sortable="planks"
                    style="color:#f47b20;text-align:right;">Planking
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let uni of dataList$ | async;">
                  <td class="row1" scope="row">{{uni.ranking}}</td>
                  <td nowrap>
                    <ngb-highlight [result]="uni.uniName" [term]="uniworkoutService.searchTerm" class="rowUniversity">
                    </ngb-highlight>
                  </td>
                  <td class="row1">{{uni.pushUps}}</td>
                  <td class="row1">{{uni.situps}}</td>
                  <td class="row1">{{uni.squats}} </td>
                  <td class="row1">{{uni.planking}} sec</td>
                </tr>

              </tbody>
            </table>
            <div class="d-none d-lg-flex d-xl-flex justify-content-between p-2 ">
              <ngb-pagination [(page)]="uniworkoutService.page" [collectionSize]="(total$ | async)!"
                [pageSize]="uniworkoutService.pageSize">
              </ngb-pagination>

              <span *ngIf="uniworkoutService.loading$ | async" class="ml-3" style="color: black">Loading...</span>

              <select [(ngModel)]="uniworkoutService.pageSize" class="custom-select" name="pageSize"
                style="width: auto">
                <option [ngValue]="5">5 universities per page</option>
                <option [ngValue]="10">10 universities per page</option>
                <option [ngValue]="15">15 universities per page</option>
              </select>
              <div class="form-group form-inline">
                <label for="searchTerm" style="color: black"> Full text search: </label>
                <input [(ngModel)]="uniworkoutService.searchTerm" class="form-control ml-2" id="searchTerm"
                  name="searchTerm" type="text" />
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- <div class="row my-3">
       <div class="col-md-12">
         <ul>
           <li> {{uniData.get(6).get(1).uni}}</li>
           <li> {{uniData.get(6).get(1).amount}}</li>
           <li> {{uniData.get(6).get(2).amount}}</li>
           <li> {{uniData.get(6).get(3).amount}}</li>
           <li> {{uniData.get(6).get(4).amount}}</li>
       </ul>
       </div>
     </div> -->


      <div class="row my-3">
        <div class="col-md-12">
          <h3>The Rules Are Easy:</h3>
          <p>Whenever you do any of these fours exercises, count the number of repetitions (push-ups,
            sit-ups, squats) / the seconds (planking). It doesn't matter whether you are doing the
            exercises as part of an extensive work-out or just these exercises, everything counts!</p>
          <p>After working-out, submit the numbers in the counter below. All submissions are added up and
            shown on the dashboard.</p>
        </div>
      </div>


      <div class="row my-3">
        <div class="col-md-12">
          <h3>What Is the Goal?</h3>
          <ul>
            <li>To beat Corona!</li>
            <li>We want to have in each exercise category a higher number than there are confirmed
              Corona cases in
              Austria!
            </li>
          </ul>
          <p>To make this more interesting, there is a second challenge, too:
            Beat the other universities! Which of the universities can be the sportiest during the
            quarantine times?
          </p>


          <p>Need some inspiration or instructions on how to do the exercises?</p>
          <ul>
            <li><a href="https://youtu.be/onaQ0v_J5uU" target="_blank">Sit-up</a></li>
            <li><a href="https://youtu.be/Eh00_rniF8E" target="_blank">Push-up (narrow)</a></li>
            <li><a href="https://youtu.be/m3FTgWtJsFE" target="_blank">Push-up (wide)</a></li>
            <li><a href="https://youtu.be/aclHkVaku9U" target="_blank">Squat</a></li>
            <li><a href="https://youtu.be/yeKv5oX_6GY" target="_blank">Planking</a></li>
          </ul>
        </div>
      </div>


      <!-- <div class="row my-3">
        <div class="col-md-12">
          <h3>Recent Workouts</h3>

          <table class="tableWorkouts">
            <tbody>
              <tr>
                <td class="row2" style="border-top: 0px;">Fuchsi made 5 push-ups, 5 squats and 1 sec
                  of planking at 22.3.
                  13:40</td>
              </tr>

              <tr>
                <td class="row2">Stefan T made 15 push-ups, 20 squats and 100 sec of planking at
                  22.3. 13:40</td>
              </tr>

              <tr>
                <td class="row2">Jenni made 50 push-ups, 500 squats and 1000 sec of planking at
                  22.3. 13:40</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->


      <div *ngIf="virusTrackerData" class="row my-3">
        <div class="col-md-12">
          <h3>Current Covid-19 Data for Austria</h3>


          <table class="tableStats">
            <tbody>
              <tr>
                <td class="row3">Cases:</td>
                <td class="row3"> {{virusTrackerData.countrydata[0].total_cases}} </td>
              </tr>

              <tr>
                <td class="row3">Recovered:</td>
                <td class="row3"> {{virusTrackerData.countrydata[0].total_recovered}} </td>
              </tr>

            </tbody>
          </table>


        </div>
      </div>

      <div class="row mt-5 mb-3">
        <div class="col-md-12" style="text-align:left;">
          <p>&#169; All rights reserved for <i>ESN Buddynetwork TU Wien</i> 2020.
            <br>
            <img alt="ESN-Star" class="footerPic" src="assets/ESNstar_digital_full_colour_safezone.png">
            Made with love at home.
            <br>
            <a href="/impressum" style="color:#FFFFFF;" target="_self">Impressum</a>.
          </p>
        </div>
      </div>


    </div>
  </div>


</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="workout-modal-title">Submit Workout</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #appWorkoutForm="ngForm" (ngSubmit)="submit(model)">
      <div class="form-group">
        <label for="name">Your name</label>
        <input #name="ngModel" [(ngModel)]="model.name" class="form-control" id="name" name="name"
          placeholder="Tell us your name" required type="text">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="uni">Your university</label>

        <select [(ngModel)]="model.uni" class="form-control" id="uni" name="uni" required>
          <option *ngFor="let uni of universities" [ngValue]="uni">{{uni.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="pushups">Push-ups</label>
        <input [(ngModel)]="model.pushups" class="form-control" id="pushups" name="pushups"
          placeholder="How many push-ups did you do?" type="number">
      </div>

      <div class="form-group">
        <label for="situps">Sit-ups</label>
        <input [(ngModel)]="model.situps" class="form-control" id="situps" name="situps"
          placeholder="How many sit-ups did you do?" type="number">
      </div>

      <div class="form-group">
        <label for="squat">Squats</label>
        <input [(ngModel)]="model.squats" class="form-control" id="squat" name="squat"
          placeholder="How many squats did you do?" type="number">
      </div>

      <div class="form-group">
        <label for="plank">Planking</label>
        <input [(ngModel)]="model.planks" class="form-control" id="plank" name="plank"
          placeholder="How many seconds did you plank?" type="number">
      </div>
      <button (click)="modal.close('Save click');submit(model);" [disabled]="!appWorkoutForm.form.valid"
        class="btn btn-primary" type="submit">
        Submit
      </button>
    </form>
  </div>
</ng-template>
