<div class="container containerESN">
  <div class="row no-gutters marginESN">
    <div class="col">

      <div class="row mt-3">
        <div class="col-md-12">
           <a href="/" style="color:#FFFFFF;" target="_self">< Back</a>
      ​ </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
          <img alt="ESN-Star" class="headerPic" src="assets/ESNstar_digital_full_colour.png">
        </div>
        <div class="col-md-10">
          <div class="header">
            Quarantine Sports Challenge
          </div>
          <div class="headerSmall">
            by ESN Buddynetwork TU Wien
          </div>
        </div>
      </div>
      ​
      ​
      <div class="row mt-5 mb-3">
        <div class="col-md-12" style="text-align:left;">
          <h1>Impressum</h1>
          ​
          <p>
            Offenlegungspflicht gemäß §25 Mediengesetz:</p>
          ​
          <p>
            ESN Buddynetwork TU Wien<br>
            Technische Universität Wien,<br>
            Wiedner Hauptstrasse 8-10<br>
            Vienna, Austria<br>
          </p>
          <p>
            Vorstand:<br>
            Bernhard Redl<br>
            Alice Neugebauer<br>
            Patrick Sieberer<br>
          </p>
          <p>
            E-Mail: office @ buddynetwork.at<br>
            ZVR-Zahl: 808264992<br>
            Zuständige Aufsichtsbehörde:
            Bundespolizeidirektion Wien, Büro für Vereins-, Versammlungs- und
            Medienrechtsangelegenheiten
          </p>
          ​
          <h4>Haftung für Inhalte dieser Webseite</h4>
          <p>Wir entwickeln die Inhalte dieser Webseite ständig weiter und bemühen uns korrekte und
            aktuelle Informationen bereitzustellen. Leider können wir keine Haftung für die Korrektheit
            aller Inhalte auf dieser Webseite übernehmen, speziell für jene die seitens Dritter
            bereitgestellt wurden.
            Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitten wir Sie uns
            umgehend zu kontaktieren, Sie finden die Kontaktdaten im Impressum.
          </p>
          ​
          ​
          <h4>Haftung für Links auf dieser Webseite</h4>
          <p>
            Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich
            sind. Haftung für verlinkte Websites besteht laut § 17 ECG für uns nicht, da wir keine
            Kenntnis rechtswidriger Tätigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch
            bisher nicht aufgefallen sind und wir Links sofort entfernen würden, wenn uns
            Rechtswidrigkeiten bekannt werden.
            Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitten wir Sie uns zu
            kontaktieren, Sie finden die Kontaktdaten im Impressum.
          </p>
          ​
          ​
          ​
          ​
          <h4>Urheberrechtshinweis</h4>
          <p>
            Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht.
            Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite
            rechtlich verfolgen.
          </p>
          ​
          <h4>Speicherung persönlicher Daten</h4>
          <p>
            Persönliche Daten, die Sie uns auf dieser Website elektronisch übermitteln, wie zum Beispiel
            Name, E-Mail-Adresse, Adresse oder andere persönlichen Angaben im Rahmen der Übermittlung
            eines Formulars oder Kommentaren im Blog, werden von uns gemeinsam mit dem Zeitpunkt und der
            IP-Adresse nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt und nicht an Dritte
            weitergegeben.
            Wir nutzen Ihre persönlichen Daten somit nur für die Kommunikation mit jenen Besuchern, die
            Kontakt ausdrücklich wünschen und für die Abwicklung der auf dieser Webseite angebotenen
            Dienstleistungen und Produkte. Wir geben Ihre persönlichen Daten ohne Zustimmung nicht
            weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem
            Verhalten eingesehen werden.
            Wenn Sie uns persönliche Daten per E-Mail schicken – somit abseits dieser Webseite – können
            wir keine sichere Übertragung und den Schutz Ihrer Daten garantieren. Wir empfehlen Ihnen,
            vertrauliche Daten niemals unverschlüsselt per E-Mail zu übermitteln.
          </p>
          ​
          <h4>Rechte laut Datenschutzgrundverordnung</h4>
          <p>
            Ihnen stehen laut den Bestimmungen der DSGVO und des österreichischen Datenschutzgesetzes
            (DSG) grundsätzlich die folgende Rechte zu:
            <ul>
              <li>Recht auf Berichtigung (Artikel 16 DSGVO)</li>
              <li>Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
              <li>Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
              <li> Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der
                Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der
                Verarbeitung (Artikel 19 DSGVO)
              </li>
              <li>Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
              <li>Widerspruchsrecht (Artikel 21 DSGVO)</li>
              <li>Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung —
                einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22
                DSGVO)
              </li>
            </ul>
            <p> Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder
              Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie
              sich bei der Aufsichtsbehörde beschweren, welche in Österreich die Datenschutzbehörde ist,
              deren Webseite Sie unter https://www.dsb.gv.at/ finden.</p>
        </div>
      </div>
      ​
      ​
      ​
      ​
      ​
      ​
    </div>
  </div>
</div>
