/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: kelson;
  src: url(~assets/kelson/KelsonSansRegular.otf);
}

@font-face {
  font-family: lato;
  src: url(~assets/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: latobold;
  src: url(~assets/lato/Lato-Bold.ttf);
}


@font-face {
  font-family: latoheavy;
  src: url(~assets/lato/Lato-Heavy.ttf);
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}


@media (min-width: 1200px) {
  .container {
      max-width: 960px;
  }
}

#bootstrap-overrides h1 {
  font-size: 200%;
  text-align: left;
  font-family: latobold;
}


#bootstrap-overrides h3 {
  font-size: 130%;
  text-align: left;
  font-family: latobold;
}
#bootstrap-overrides h4 {
  font-size: 120%;
  text-align: left;
  font-family: latobold;
}



.bold {
  font-family: latoheavy;
}



.containerESN {
  color: #FFFFFF;
  font-family: lato;
  border: 20px solid #333333;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  /* padding-left:20px;
  padding-right:20px; */
  text-align: justify;
}

@media (max-width: 575px) {
  .containerESN {
      color: #FFFFFF;
      border: 0px solid #333333;
      font-family: lato;
      text-align: justify;
  }
}

.box {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #FFFFFF;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin-bottom: 10%;
}

.boxb {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #FFFFFF;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.boxHeader {
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
  color: #292929;
  font-size: 120%;
  font-family: latoheavy;
}

.boxHeaderBottom {
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
  color: #292929;
  font-size: 120%;
  font-family: latoheavy;
}

.boxNumber {
  margin-top: 0px;
  margin-bottom: 5%;
  text-align: center;
  font-size: 150%;
  font-family: latoheavy;
}

.boxNumberBottom {
  margin-top: 0px;
  margin-bottom: 5%;
  text-align: center;
  font-size: 150%;
  font-family: latoheavy;
}

.tableStats {
  width: 60%;
  background: transparent;
  color: #ffffff;
}



.marginESN{
  margin-right:  0 ;
  margin-left:  0;
}


@media (max-width: 576px) {
  .box {
      padding-top: 0.5%;
      padding-bottom: 0.5%;
  }

  .boxb {
      padding-top: 1.875%;
      padding-bottom: 1.875%;
  }

  .boxHeader {
      font-size: 120%;
      margin-bottom: 2.5%;
  }

  .boxNumber {
      margin-top: 0px;
      font-size: 150%;
  }

  .boxHeaderBottom {
      margin-top: 1.25%;
      margin-bottom: 1.25%;
      font-size: 120%;
      padding-left:2.5%;
      padding-right:2.5%;
  }

  .boxNumberBottom {
      margin-bottom: 1.25%;
      font-size: 150%;
  }

  .tableStats {
      width: 60%;
  }

  .marginESN{
      margin-right: 0;
      margin-left: 0;
  }
}


@media (min-width: 576px) {
  .box {
      padding-top: 1%;
      padding-bottom: 1%;
  }

  .boxb {
      padding-top: 1.875%;
      padding-bottom: 1.875%;
  }

  .boxHeader {
      font-size: 120%;
      margin-bottom: 2.5%;
  }

  .boxNumber {
      margin-top: 0px;
      font-size: 150%;
  }

  .boxHeaderBottom {
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      font-size: 120%;
  }

  .boxNumberBottom {
      margin-bottom: 2.5%;
      font-size: 150%;
  }

  .marginESN{
      margin-right: 1rem;
      margin-left: 1rem;
  }
}

@media (min-width: 768px) {
  .box {
      padding-top: 5%;
      padding-bottom: 5%;
  }

  .boxb {
      padding-top: 1.875%;
      padding-bottom: 1.875%;
  }

  .boxHeader {
      font-size: 120%;
  }

  .boxNumber {
      margin-top: 0px;
      font-size: 150%;
  }

  .boxHeaderBottom {
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      font-size: 120%;
  }

  .boxNumberBottom {
      margin-bottom: 2.5%;
      font-size: 150%;
  }
}

@media (min-width: 992px) {
  .box {
      padding-top: 5%;
      padding-bottom: 5%;
  }

  .boxb {
      padding-top: 2.5%;
      padding-bottom: 2.5%;
  }

  .boxHeader {
      font-size: 140%;
  }

  .boxNumber {
      font-size: 180%;
  }

  .boxHeaderBottom {
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      font-size: 140%;
  }

  .boxNumberBottom {
      margin-bottom: 2.5%;
      font-size: 180%;
  }
}





.tableWorkouts {
  /* width: 100%;  */
  background: transparent;
  color: #ffffff;
}



.headerPic {
  width: 72px;
  height: 72px;
  margin-top: 12px;
  margin-right: 15px;
}


.tableUniversitiesOut {
  border: 15px solid #FFFFFF;
  background: #FFFFFF;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.tableUniversities {
  width: 100%;
  background: #FFFFFF;
  color: #292929;
}

.tableHeader {
  text-align: left;
  font-size: 130%;
}








.header {
  width: 100%;
  /* background:#000000;  */
  text-align: center;
  font-family: kelson;
  font-size: 28pt;

  text-align: left;
}

.headerSmall {
  width: 100%;
  /* background:#000000; */
  text-align: center;
  font-family: lato;
  font-size: 18pt;
  text-align: left;

}






.tableHeader {
  text-align: left;
  font-size: 14pt;
}

.row1 {
  text-align: right;
}

.row2 {
  text-align: left;
  border-top: 3px solid #333333;
}

.row3 {
  text-align: left;
}

.rowUniversity {
  border-left: 20px solid #FFFFFF;
  text-align: left;
}


.footerPic {
  width: 12pt;
  /* height:120px; */
  float: left;
  margin-top: 5px;
  margin-right: 1px;
}
